<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>
    <title>Spring Boot Note App</title>
    <meta charset="utf-8"/>
</head>
<body>
<br/><br/>
<!--<div style="padding: 3%">
    <h1>Add your Note</h1>
    <label>Importance:
        <select id="cars" name="cars">
        <option value="URGENT">URGENT</option>
        <option value="STANDARD">STANDARD</option>
        <option value="OPTIONAL">OPTIONAL</option>
        </select>
    </label>
    <br/><br/>
    <label>Note: <input type="text"/></label>
    <br/><br/>
    <input type="button" value="Add" onclick="createNote()"/>
</div>-->
<div style="padding: 3%">
    <h1>All Notes</h1>
    <hr/>

    <div>
        <table>
            <tr >
                <th>ID</th>
                <th>Importance</th>
                <th>Text</th>
                <th>Timestamp</th>
            </tr>
            <tr th:each="note : ${notes}">
                <td th:text="${note.id}"></td>
                <td th:text="${note.importance}"></td>
                <td th:text="${note.text}"></td>
                <td th:text="${note.timestamp}"></td>
            </tr>
        </table>
    </div>


</div>

</body>
</html>